@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    font-family: 'Courier New', Courier, monospace;
} */

a.active hr {
    display: block;
}

/* a.active p {
    font-weight: bold;
    font-size: large;
} */

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
    font-family: Outfit;
  }

  @media (max-width: 640px) {
    a.active {
        background-color: gray;
        color: black;
    }
  }